/* seletores gerais*/
*{
    padding:0;
    margin: 0; 
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 80px;
    background-color: rgb(236, 236, 236);
}
main {
    grid-area: main;
}
a {
    text-decoration: underline;
    color: white;
}
label {
    text-align: center;
    font-family: 'Rubik 80s Fade', cursive;
    font-weight: 500; 
}
#inputColor { 
    width: 120px;
    height: 120px;
    background-color: transparent;
}

#containerSketchTitle {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerGrid {
    box-shadow: grey 0px 0px 7px 2px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    user-select: none;
    width: 500px;
    border: 1px solid darkgray;
    display: grid;
    height: 31.25em;
    cursor: pointer;
}

#titulo {
    padding-bottom:  10px;
    font-family: 'Rubik Iso', cursive;
    color: rgb(223, 166, 61);
    text-align: center;
    font-size: 4em;
}

#sketch {
    align-items: center;
    padding: 0 5%;
    display: flex;
    gap: 7%;
}

#containerInput {
    height: 500px;
    width: 23%;
    padding-left: 5%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.buttons,
#apagar {
    margin: auto;
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 60%;
    height: 2.8em;
    background-color: #323133;
    box-shadow: grey 0px 0px 2px 1px;
}

.buttons:hover,
#apagar:hover {
    opacity: 75%;


}

.active{
    background-color: rgb(25, 25, 155)
}

#inputRange {
    width: 75%;
    margin: auto;
}

.inputs,
button {
    cursor: pointer;
    margin: 15px;
}
/* remover aparencias padroes dos inputs*/
input[type="color"] {
    appearance: none;
    border: none;
    
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    appearance: none;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
    appearance: none;
}

footer {
    height: 100%;
    margin-top: 10px;
    gap: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: white;
    grid-area: footer;
    background-color: #1f2937;
    width: 100%;
}



#gitHubLogo {
    width: 30px;
    border: solid 1px transparent;
    border-radius: 15px;
}


/* animacao para o logo do github girar*/
#gitHubLogo:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* estilizacao do input range*/

input[type=range] {
    appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #323133;
    border-radius: 15px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 23px;
    background: #f5f4f4;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #323133;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #323133;
    border-radius: 15px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 23px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #323133;
    border: 0px solid #000000;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #323133;
    border: 0px solid #000000;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 23px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #323133;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #323133;
  }
  